<html>
    <head>
        <title>Photo App</title>
    </head>
    <body>
        <h1><a href="">사진 목록 페이지</a></h1>
        <section>
            <div>
                <h2>
                    <a href="">푸른 언덕</a>
                </h2>
                <img
                    src="https://img.freepik.com/free-photo/green-hills-with-blue-sky_53876-144337.jpg"
                    alt="푸른언덕"
                    width="300"
                />
                <p>마이크로소프트, 1000원</p>
            </div>
            <div>
                <h2>
                    <a href="">노을</a>
                </h2>
                <img
                    src="https://i.namu.wiki/i/kwXEr_ngPxXJ72Oo7_nH93LffLcir63yRAey0mutqrjAKgVH5AGVrov7CeNZXQ55kpusnGIe3guK2azgad57qw.webp"
                    alt="노을"
                    width="300"
                />
                <p>마이크로소프트, 1000원</p>
            </div>
        </section>
    </body>
</html>